body {
    background: #fff;
    margin: 40px 30px;
    min-height: 100vh;
    position: relative;
    font-family: $light;
}

a, input {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin: 0 -10px;
}

[class*="col-"] {
    padding: 0 10px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}