body {
    background: #fff;
    margin: 40px;
    min-height: 100vh;
    position: relative;
    font-family: $light;
}

a, input {
    outline: none;
}

input {
    border-radius: 3px;
    background: #fff;
    border: 1px solid $grey-lll;
    padding: 16px 15px;
    font-size: 16px;
    color: #000;
    line-height: 24px;

    &:focus {
        border-color: $sandy;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: $play;
    line-height: 50px;
    font-size: 50px;
}

h2 {
    font-family: $bold;
    line-height: 41px;
    font-size: 32px;
}

h3 {
    font-family: $play;
    line-height: 25px;
    font-size: 28px;
}

quote, .su-quote-inner {
    font-family: $play;
    line-height: 35px;
    font-size: 35px;
    color: $sandy;
}

caption {
    font-family: $light;
    line-height: 14px;
    font-size: 14px;
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin: 0 -10px;
}

[class*="col-"] {
    padding: 0 10px;
}

.row.no-gutters {
    [class*="col-"] {
        padding: 0;
    }
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}