@define-mixin atS {
    @media (min-width: 576px) {
        @mixin-content;
    }
}

@define-mixin atM {
    @media (min-width: 768px) {
        @mixin-content;
    }
}

@define-mixin atL {
    @media (min-width: 992px) {
        @mixin-content;
    }
}

@define-mixin at1200 {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

@define-mixin atXL {
    @media (min-width: 1300px) {
        @mixin-content;
    }
}

@define-mixin atXXL {
    @media (min-width: 1441px) {
        @mixin-content; 
    }
}

@define-mixin atXXXL {
    @media (min-width: 1534px) {
        @mixin-content; 
    }
}

@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}