$sandy: #AE967B;
$sandy-l: rgba(158, 131, 103, 0.75);

$grey-lll: rgba(0, 0, 0, 0.1);
$grey-ll: rgba(0, 0, 0, 0.25);
$grey-l: #f4f4f4;

$black: rgba(0, 0, 0, 0.9);

$light: Gilam-Book;
$regular: Gilam-Regular;
$bold: Gilam-Bold;
$italic: Gilam-BookItalic;
$play: 'Playfair Display', serif;