.btn {
    padding: 10px 35px;
    border-radius: 3px;
    cursor: pointer;
    max-width: 100%;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    transition: all .5s;

    &--l {
        font-size: 22px;
        line-height: 1.2;
        padding: 26px 35px;
        width: 600px;
        height: 80px;
        font-family: $regular;
        box-shadow: 0px 5px 25px rgba(174, 150, 123, 0.2);

        @mixin atS {
            height: 81px;
        }

        &:hover {
            box-shadow: none; 
        }
    }

    &--transparent {
        border: 1px solid #fff;
        color: #fff;
        border-radius: 3px; 
    }

    &--sandy {
        background: $sandy;
        color: #fff;

        &:hover {
            background: $sandy-ll;
        }
    }

    &--load-more {
        border-radius: 3px;
        cursor: pointer;
        max-width: 100%;
        text-align: center;
        line-height: 1;
        background: $sandy;
        color: #fff;
        font-size: 22px;
        padding: 26px 35px;
        width: 600px;
        font-family: $regular;
        box-shadow: none;
        border: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s;
        box-shadow: 0px 5px 25px rgba(174, 150, 123, 0.2);

        &:hover {
            background: $sandy-ll;
            box-shadow: none;
        }
    }

    &--social {
        display: block;
        vertical-align: middle;
        height: 51px;
        width: 267px;
        margin: 0 auto 15px;

        @mixin atM {
            display: inline-block;
            width: 152px;
            margin: 0 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        i {
            top: 50%;
            transform: translateY(-50%);
            margin: 0; 
        }
    }

    &--fb {
        background: #3B5998;

        &:hover {
            background: #4365AB;
        }
    }

    &--vk {
        background: #4C6C91;

        i {
            top: 48%;
        }

        &:hover {
            background: #59799d;
        }
    }

    &--tw {
        background: #55ACEE;

        i {
            top: 51%;
        }

        &:hover {
            background: #67b8f5;
        }
    }

    &--tg {
        background: #27A0D5;

        &:hover {
            background: #35aee3;
        }
    }
}