.feed-item {
    position: relative;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 3px;
    height: 440px;
    transition: all .5s;

    &:hover {
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    }

    @mixin atXXL {
        height: 470px;
    }

    a {
        color: #fff;
    }

    &__img {
        position: relative;
        height: 100%;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
        }

        img {
            width: 100% !important;
            height: auto !important;
            max-width: 10000px;

            @mixin atXL {
                height: 100% !important;
                width: auto !important;

            }

            @mixin atXXXL {
                width: 100% !important;
                height: auto !important;
                max-width: 1000px;
            }

            &.img--gorisontal {
                height: 100% !important;
                width: auto !important;
            }
        }

    }

    &__text {
        position: absolute;
        bottom: 64px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0 45px;
    }

    &__counters {
        margin-bottom: 10px;
    }

    &__counter {
        font-size: 14px;
        display: inline-block;
        margin-right: 40px;

        .icon {
            top: 1px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__label {
        background: $sandy;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 3px 3px 0 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 178px;
        line-height: 1;
    }

    &--l {
        height: 900px;

        .feed-item__text {
            bottom: 75px;
        }

        .feed-item__counters {
            margin-bottom: 6px;
        }

        img {
            width: 100% !important;
            height: auto !important;
            max-width: 1000px;


            @mixin atL {
                height: 100% !important;
                width: auto !important;
            }

            @mixin atXXXL {
                width: 100% !important;
                height: auto !important;
                max-width: 1000px;
            }

        }

        @mixin atXXL {
            height: 960px;
        }



    }




}