.headline {
    
    @mixin atS {} 
    
    &--centered {
        text-align: center;
    }
    
    &--small {
    }
    
    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &--light {
        font-weight: 100;
    }
    
    &--mrg-b-sm {
        margin-bottom: .5em;
    }
    
    &--mrg-b-n {
        margin-top: 0;
    }
    
}