.headline {
    
    font-family: $play;
    font-size: 50px;
    line-height: 1;
    
    @mixin atS {} 
    
    &--centered {
        text-align: center;
    }
    
    &--s {
        font-size: 25px;
        line-height: 28px;
    }
    
    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &--light {
        font-weight: 100;
    }
    
    &--mrg-b-l {
        margin-bottom: 60px;
    }
    
    &--mrg-b-n {
        margin-top: 0;
    }
    
}