.hero {
    height: 407px;
    overflow: hidden;
    position: relative;
    margin: 0 -10px;
    padding: 0;

    @mixin atM {
        height: 500px;
        margin: 0 -20px;
    }

    @mixin atL {
        height: 500px;
        margin: 0;
        border-radius: 3px 3px 0 0;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    &__img {
        border-radius: 3px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
            z-index: 2;
        }

        img {
            height: 140% !important;
            width: auto !important;
            max-width: 10000px;

            @mixin atS {
                width: 100% !important;
                height: auto !important;
            }
        }

    }

    &__text {
        position: absolute;
        z-index: 3;
        color: #fff;
        text-align: center;
        bottom: 0;
        width: 100%;
        padding: 30px 30px 14px;
        height: 100%;

        @mixin atL {
            padding: 0 30px;
            height: auto;
        }
    }

    &__counters {
        margin-bottom: 12px;

        @mixin atL {
            margin-bottom: 22px;

        }
    }

    &__counter {
        font-size: 14px;
        display: inline-block;
        margin-right: 40px;

        .icon {
            top: 1px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        margin-bottom: 60px;
    }

    &__author {
        font-family: $regular;
        margin-bottom: 11px;

        &-img {
            overflow: hidden;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        &-name {
            line-height: 24px;
        }
    }

    &__date {
        font-family: $regular;
        line-height: 24px;
        margin-bottom: 45px;
        order: -1;

        @mixin atL {
            order: 0;
            opacity: 0.5;
            margin-bottom: 22px;
        }

        span {
            display: none;

            @mixin atL {
                display: inline;
            }

        }
    }

    &__partner {
        text-align: center;

        &-title {
            font-size: 14px;
            font-family: $light;
            margin-bottom: 10px;
        }
        &-logo {
            background: #D0062A;
            width: 165px;
            height: 45px;
            position: relative;
            margin: 0 auto;
            margin-bottom: 11px;

            @mixin atL {
                margin-bottom: 26px;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            a {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    &__content {
        background: #fff;
        width: 842px;
        max-width: 100%;
        padding: 28px 40px 38px;
        position: absolute;
        top: 157px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
        border-radius: 3px;

        h2 {
            margin-bottom: 19px;
        }

        p {
            font-size: 20px;
            line-height: 29px;
        }

        a {
            color: $sandy;
            font-family: $bold;
        }
    }

    &--mrg-b-l {
        margin-bottom: 80px;
    }

    &--no-gr {
        .hero__img {
            &:before {
                display: none;
            }
        }
    }

    .container-fluid {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

}