.hero {
    height: 500px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    a {
        color: #fff;
        text-decoration: none;
    }

    &__img {
        width: 100%;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
            z-index: 2;
        }

        img {
            position: absolute;
            top: 89%;
            transform: translateY(-50%);
            width: 100%;
            height: auto;
        }

    }

    &__text {
        position: absolute;
        z-index: 3;
        color: #fff;
        text-align: center;
        bottom: 0;
        width: 100%;
        padding: 0 30px;
    }

    &__counters {
        margin-bottom: 22px;
    }

    &__counter {
        font-size: 14px;
        display: inline-block;
        margin-right: 40px;

        .icon {
            top: 1px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        margin-bottom: 60px;
    }

    &__author {
        font-family: $regular;
        margin-bottom: 11px;

        &-img {
            overflow: hidden;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        &-name {
            line-height: 24px;
        }
    }

    &__date {
        font-family: $regular;
        opacity: 0.5;
        line-height: 24px;
        margin-bottom: 22px;
    }
    
    &__partner {
        text-align: center;
        
        &-title {
            font-size: 14px;
            font-family: $light;
            margin-bottom: 10px;
        }
        &-logo {
            background: #D0062A;
            width: 165px;
            height: 45px;
            position: relative;
            margin: 0 auto;
            margin-bottom: 26px;
            
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            
            a {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

}