.page-section {
    padding-bottom: 70px;
    
    &--pd-t-s {
        padding-top: 40px;
    }
    
    &--pd-t-l {
        padding-top: 70px;
    }
    
    &--pd-t-h {
        padding-top: 100px;
    }
    
    &--pd-b-xs {
        padding-bottom: 5px;
    }
    
    &--pd-b-s {
        padding-bottom: 40px;
    }
    
    &--pd-b-h {
        padding-bottom: 100px;
    }
    
    &--mrg-b-l {
        margin-bottom: 80px;
    }
    
    &--light {
        background: $sandy-lll; 
    }
    
    &--br {
        border-bottom: 1px solid rgba(174, 150, 123, .25); 
    }
}