.post {

    p, i {
        line-height: 29px;
        font-size: 20px;
        margin-bottom: 35px;
        font-family: $light;

        @mixin atL {
            margin-bottom: 40px;

        }
    }

    a {
        font-family: $bold;
        color: $sandy;
        text-decoration: none;
    } 

    h2 {
        margin-bottom: 19px;
    }

    quote {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 65px;
        display: block;

        @mixin atL {
            margin-bottom: 70px;
        }
    }

    .two-img {
        @mixin clearfix; 
        margin-bottom: 60px;

        @mixin atL {
            padding-top: 30px;
            margin-bottom: 70px;

        }

        img {
            float: left;
            width: 100%;
            padding-bottom: 20px;

            @mixin atM {
                width: 50%;
                padding-right: 10px;
                padding-bottom: 0;
            }

            &:last-child {
                padding-right: 0;
                padding-left: 0;
                padding-bottom: 0;

                @mixin atM {
                    padding-left: 10px;
                }
            }
        }



    }

    .large-img {
        @mixin clearfix; 
        padding-top: 30px;
        margin: 0 0 65px;
        
        @mixin at1200 {
            margin: 0 -50px 70px;
        }

        @mixin atXL {
            margin: 0 -173px 70px;
        }

        img {
            margin-bottom: 12px;

            @mixin atL {
                margin-bottom: 15px;

            }
        }

        i {
            display: block;
            margin-bottom: 0;
        }
    }


}