.primary-nav {

    ul {
        margin: 0;
        padding: 0;
        padding-top: 40px;
        padding-bottom: 20px;
        
        @mixin atL {
            padding: 0;
        }
    }

    li {
        list-style: none;
        padding-right: 7px;
        font-size: 28px;
        font-family: $bold;
        display: block;
        margin-bottom: 15px;
        line-height: 39px;

        @mixin atL {
            line-height: 20px;
            display: inline-block;
            font-size: 16px;
            font-family: $regular;
            margin-bottom: 0;
        }

        @mixin atL {
            float: left;
            display: block;
            padding-right: 25px;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atL {
            padding-right: 20px;
        }
    }

    a {
        text-decoration: none;
        color: #000;
        transition: opacity .5s;

        @mixin atL {
            color: #fff;
            opacity: 0.5;
        }

        &:hover {
            opacity: 1;
        }
    }

    li.current-menu-item {
        a {
            opacity: 1;
        }
    }
}