.search {
    &__link { 
        color: #fff;
        opacity: 0.5;
        transition: all .5s;
        font-family: $regular;
        cursor: pointer;
        margin-right: 25px; 

        &:hover {
            opacity: 1;
        }
    }
    
    &__field {
        opacity: 0;
        z-index: -1;
        overflow: hidden;
        position: absolute;
        right: 10px;
        top: 9px;
        width: 100%;
        height: 44px;
        transition: all .5s;
        height: 0;
        
        &--is-visible {
            opacity: 1;
            z-index: 1;
            height: auto;
        }
    }
    
    &__input {
        font-family: $regular;
        font-size: 16px;
        color: #000;
        border: none;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        width: 100%;
    }
    
    &__close {
        position: absolute;
        top: 14px;
        right: 15px;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    &__results {
        opacity: 0;
        z-index: -1;
        position: absolute;
        height: 0;
        overflow: hidden;
        right: 10px;
        top: 58px;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            padding: 0 20px;
            font-family: $bold;
            font-size: 22px;
            line-height: 26px;
            list-style: none;
            border-bottom: 1px solid $grey-lll;
        }

        a {
            padding: 20px 0;
            display: block;
            color: #000;
            text-decoration: none;
        }
        
        &--is-visible {
            opacity: 1;
            z-index: 1;
            height: auto;
        }
    }

    &__result {
        &__date {
            font-family: $regular;
            line-height: 24px;
            font-size: 16px;
            color: $grey-ll;
            float: right;
            vertical-align: middle;
            display: inline-block;
        }
    }
}