.simple-page {
    
    h2 {
        margin-bottom: 19px;
    }
    
    p {
        font-size: 20px;
        line-height: 29px;
    }

    a {
        color: $sandy;
        font-family: $bold;
    }
    
    
}