.site-header {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 23px;
    padding-left: 30px; 
    line-height: 20px;

    &__logo {
        background: url('../../assets/images/logo.svg');
        width: 39px;
        height: 54px;
        margin-left: 17px;

        a {
            display: block;
        }
    }

    &__center {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-content: center;
        padding-top: 9px;
    }

    &__menu {
        padding: 10px 0;
    }

    &__search {
        padding: 10px 0;
    }

    &__btn {
        padding-top: 9px;
        font-family: $regular;
        cursor: pointer;
        color: #fff;
        opacity: 0.5;
        transition: all .5s;
        display: inline-block;
        
        &:hover {
            opacity: 1;
        }

        .btn {
            height: 44px;
            border-color: rgba(255, 255, 255, 0.5);
        }
    }


}

