.site-footer{

    @mixin atL {
        padding-top: 0;
    }

    &__menu {
        font-size: 16px;
        margin-bottom: 20px;
        font-family: $regular;
        text-align: center;

        @mixin atL {
            text-align: left;
            margin-bottom: 30px;
        }

        ul {
            margin: 0;
            padding: 0;
            display: inline-block;

            @mixin atL {
                padding-bottom: 30px;
                border-bottom: 1px solid $grey-lll;
            }
        }

        li {
            display: inline-block;
            list-style: none;
            padding-right: 25px;

            a {
                text-decoration: none;
                color: $sandy;
                transition: all .5s;

                &:hover {
                    color: $sandy-l;
                }
            }

            &:first-child {
                a {
                    color: $grey !important;

                    @mixin atS {
                        color: $black !important;
                    }

                    &:hover {
                        color: rgba(0, 0, 0, 0.4) !important;

                        @mixin atS {
                            color: $black-l !important;
                        }
                    }
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__copyright {
        color: $grey-ll;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
        text-align: center;

        @mixin atL {
            text-align: left;
            margin-bottom: 25px;
        }
    }

    &__design {
        font-size: 12px;
        color: $black;
        text-align: center;
        padding-bottom: 65px;

        @mixin atL {
            text-align: left;
            padding-bottom: 0;
        }

        a {
            color: $black;
            text-decoration: none;

        }
    }

    &__social {
        display: none;

        @mixin atL {
            display: block;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all .5s;

            &:last-child {
                opacity: 0;
            }
        }

        &-link {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $grey-l;
            margin-left: 10px;
            display: inline-block;
            transition: all .5s !important;

            &:hover {
                background: $sandy;

                i {
                    opacity: 0;

                    &:last-child {
                        opacity: 1;
                    }
                }
            }



        }


    }
}
