


        .icon {
            background-image: url('../../assets/images/sprites/sprite-2223f742.svg');
        }

        .no-svg .icon {
            background-image: url('../../assets/images/sprites/sprite-2223f742.png');
        }

        

    .icon--arrows {
        width: 19px; 
        height: 24px;
        background-position: 84.21052631578948% 0;  
    }

    .icon--arrows-w {
        width: 19px; 
        height: 24px;
        background-position: 84.21052631578948% 32.87671232876713%;  
    }

    .icon--close {
        width: 18px; 
        height: 18px;
        background-position: 0 84.81012658227849%;  
    }

    .icon--comments {
        width: 14px; 
        height: 13px;
        background-position: 99% 70.23809523809524%;  
    }

    .icon--fb {
        width: 13px; 
        height: 25px;
        background-position: 53.46534653465346% 0;  
    }

    .icon--fb-s {
        width: 8px; 
        height: 14px;
        background-position: 93.39622641509433% 54.21686746987952%;  
    }

    .icon--fb-s-w {
        width: 8px; 
        height: 14px;
        background-position: 93.39622641509433% 86.74698795180723%;  
    }

    .icon--fb-w {
        width: 13px; 
        height: 25px;
        background-position: 66.33663366336634% 0;  
    }

    .icon--fb-xs-w {
        width: 9px; 
        height: 15px;
        background-position: 94.28571428571429% 18.29268292682927%;  
    }

    .icon--insta-s {
        width: 15px; 
        height: 15px;
        background-position: 100% 0;  
    }

    .icon--insta-s-w {
        width: 15px; 
        height: 15px;
        background-position: 100% 36.58536585365854%;  
    }

    .icon--tg {
        width: 26px; 
        height: 22px;
        background-position: 31.818181818181817% 0;  
    }

    .icon--tg-w {
        width: 26px; 
        height: 22px;
        background-position: 0 32%;  
    }

    .icon--tg-wb {
        width: 28px; 
        height: 24px;
        background-position: 0 0;  
    }

    .icon--tw {
        width: 24px; 
        height: 21px;
        background-position: 0 60.526315789473685%;  
    }

    .icon--tw-w {
        width: 24px; 
        height: 21px;
        background-position: 28.88888888888889% 31.57894736842105%;  
    }

    .icon--tw-xs-w {
        width: 19px; 
        height: 15px;
        background-position: 84.21052631578948% 58.53658536585366%;  
    }

    .icon--views {
        width: 17px; 
        height: 12px;
        background-position: 0 100%;  
    }

    .icon--vk {
        width: 24px; 
        height: 15px;
        background-position: 53.333333333333336% 56.09756097560975%;  
    }

    .icon--vk-s-w {
        width: 17px; 
        height: 11px;
        background-position: 36.08247422680412% 77.90697674418605%;  
    }

    .icon--vk-w {
        width: 24px; 
        height: 15px;
        background-position: 26.666666666666668% 56.09756097560975%;  
    }

    .icon--vk-xs-w {
        width: 17px; 
        height: 11px;
        background-position: 18.556701030927837% 77.90697674418605%;  
    }
