.sticker {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 182px;
    height: 320px;
    width: 77px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 0 3px 3px 0;
    overflow: hidden;
    opacity: 1;

    &__item {
        background: #fff;
        padding: 30px 25px;  
        border-bottom: 1px solid #F2F2F2;
        transition: all .5s;
        cursor: pointer;
        position: relative;
        font-family: $play;
        line-height: 28px;
        font-size: 25px;
        width: 100%;
        height: 100%; 

        &:last-child {
            border: none;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all .5s;
            margin: 0;

            &:last-child {
                opacity: 0;
            }
        }
        &:hover {
            background: $sandy;
            border-color: $sandy;
            color: #fff;

            i {
                opacity: 0;
                &:last-child {
                    opacity: 1 !important;
                }
            }
        }


    }

    &__title {
        width: 206px;
        transform: translateX(-101%) rotate(270deg);
        transform-origin: right top;
    }

    &__icons {
        display: block;
        position: absolute;
        bottom: 37px;
        left: 0;
        width: 100%;
        height: 24px;
    }

    &--social {
        .sticker__item {
            height: 80px;
            text-align: center;
        }
        
    }

    &--right {
        left: auto;
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    &--is-hidden {
        opacity: 0;
        z-index: -1;
        height: 0;
    }

}